[Unit]
Description=ZeroTier Gateway ipset initialization
# 移除对网络目标的依赖，避免循环
DefaultDependencies=no
Conflicts=shutdown.target
Before=network-pre.target iptables.service ip6tables.service
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ipset-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
